.noteDiv input {
  background-color: #444444 !important;
  color: white !important;
}
.noteDiv textarea {
  background-color: #444444 !important;
  color: white !important;
}
.big .sc-dJjYzT{
    background-color: #444444 !important;
    color:white !important;
    min-height:40vh
}
@media only screen and (max-width: 768px) {
  .big .sc-dJjYzT{
    background-color: #444444 !important;
    color:white !important;
    min-height:57vh
}
}

.sc-dJjYzT{
    background-color: transparent !important;
    color:white !important;
}
.placeholder{
  cursor: pointer !important;
}
.noteDiv{
  border: 0px;
}
.model{
  outline: none;
}
.sun-editor{
  background-color: transparent !important;
    color: white !important;
    border: none !important;
    max-height: 70vh !important;
    overflow: scroll !important;
}

.sun-editor::-webkit-scrollbar {
  display: none;
}

.se-wrapper-inner{
  background-color: transparent !important;
    color: white !important;
}

.se-resizing-bar{
  display: none !important
}

.se-selector-table{
  top:42px !important
}