.noteDiv input {
  background-color: #444444 !important;
  color: white !important;
}
.noteDiv textarea {
  background-color: #444444 !important;
  color: white !important;
}
.big .sc-dJjYzT{
    background-color: #444444 !important;
    color:white !important;
    min-height:40vh
}
@media only screen and (max-width: 768px) {
  .big .sc-dJjYzT{
    background-color: #444444 !important;
    color:white !important;
    min-height:57vh
}
}

.sc-dJjYzT{
    background-color: transparent !important;
    color:white !important;
}
.placeholder{
  cursor: pointer !important;
}
.noteDiv{
  border: 0px;
}