::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #303030;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#block-menu-container{
  z-index: 100000 !important;
}
.sc-gsDKAQ{
  z-index: 100000 !important;
}

#emoji-menu-container{
  z-index: 100000 !important;
}

html{
  border:none
}

.MuiPaper-root{
  border-radius: 0px !important;
}



.ql-toolbar {
  background-color: #f0f0f0;
}

/* Change the text color of the buttons/icons on the toolbar */
.ql-toolbar .ql-picker-label,
.ql-toolbar .ql-picker-item {
  color: #333333;
}

/* Change the background color of the active buttons/icons */
.ql-toolbar .ql-picker-item.ql-selected {
  background-color: #007bff;
  color: #ffffff;
}

/* Change the background color of the dropdown menus */
.ql-toolbar .ql-picker-options {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.ql-editor{
  max-height: 450px;
}

.ql-editor::-webkit-scrollbar {
  display: none;
}

.no-arrow .dropdown-toggle::after {
  display: none;
}

.dropdown-left .dropdown-menu {
  right: 0;
  left: auto;
}

.icon-spacing {
  margin-right: 5px;
}

.summary-card {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  margin-bottom: 20px;
  border-radius: 8px;
}

.summary-card .card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.summary-card .card-text {
  font-size: 1.2rem;
}

.summary-card .card-text strong {
  font-weight: 600;
}

.summary-card .card-text small {
  color: #aaa;
  display: block;
  margin-top: 10px;
}