<h1>Investment Data</h1>
<table>
    <thead>
        <tr>
            <th>
                <div>Category</div>
            </th>
            <th>
                <div>Date</div>
            </th>
            <th>
                <div>Buy Value (in crores)</div>
            </th>
            <th>
                <div>Sell Value (in crores)</div>
            </th>
            <th>
                <div>Net Value (in crores)</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>DII **</div>
            </td>
            <td>
                <div>29-May-2024</div>
            </td>
            <td>
                <div>12954.15</div>
            </td>
            <td>
                <div>7720.36</div>
            </td>
            <td>
                <div>5233.79</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>FII/FPI *</div>
            </td>
            <td>
                <div>29-May-2024</div>
            </td>
            <td>
                <div>14162.04</div>
            </td>
            <td>
                <div>20003.88</div>
            </td>
            <td>
                <div>-5841.84</div>
            </td>
        </tr>
    </tbody>
</table>
<h1>Investment Data</h1>
<table>
    <thead>
        <tr>
            <th>
                <div><span style="color: rgb(0, 0, 0)">Category</span></div>
            </th>
            <th>
                <div><span style="color: rgb(0, 0, 0)">Date</span></div>
            </th>
            <th>
                <div><span style="color: rgb(0, 0, 0)">Buy Value (in crores)</span></div>
            </th>
            <th>
                <div><span style="color: rgb(0, 0, 0)">Sell Value (in crores)</span></div>
            </th>
            <th>
                <div><span style="color: rgb(0, 0, 0)">Net Value (in crores)</span></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>DII **</div>
            </td>
            <td>
                <div>21-May-2024</div>
            </td>
            <td>
                <div>16104.49</div>
            </td>
            <td>
                <div>12555.52</div>
            </td>
            <td>
                <div>3548.97</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>FII/FPI *</div>
            </td>
            <td>
                <div>21-May-2024</div>
            </td>
            <td>
                <div>17681.01</div>
            </td>
            <td>
                <div>19555.55</div>
            </td>
            <td>
                <div>-1874.54</div>
            </td>
        </tr>
    </tbody>
</table>
<p><br></p>
<p>Stock Investment Report</p>
<h1>Investment Data</h1>
<table>
    <thead>
        <tr>
            <th>
                <div>Category</div>
            </th>
            <th>
                <div>Date</div>
            </th>
            <th>
                <div>Buy Value (in crores)</div>
            </th>
            <th>
                <div>Sell Value (in crores)</div>
            </th>
            <th>
                <div>Net Value (in crores)</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>DII **</div>
            </td>
            <td>
                <div>22-May-2024</div>
            </td>
            <td>
                <div>13486.33</div>
            </td>
            <td>
                <div>12524.42</div>
            </td>
            <td>
                <div>961.91</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>FII/FPI *</div>
            </td>
            <td>
                <div>22-May-2024</div>
            </td>
            <td>
                <div>16061.42</div>
            </td>
            <td>
                <div>16747.46</div>
            </td>
            <td>
                <div>-686.04</div>
            </td>
        </tr>
    </tbody>
</table>
<p>Stock Investment Report</p>
<h1>Investment Data</h1>
<table>
    <thead>
        <tr>
            <th>
                <div>Category</div>
            </th>
            <th>
                <div>Date</div>
            </th>
            <th>
                <div>Buy Value (in crores)</div>
            </th>
            <th>
                <div>Sell Value (in crores)</div>
            </th>
            <th>
                <div>Net Value (in crores)</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>DII **</div>
            </td>
            <td>
                <div>23-May-2024</div>
            </td>
            <td>
                <div>12439.4</div>
            </td>
            <td>
                <div>12292.89</div>
            </td>
            <td>
                <div>146.51</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>FII/FPI *</div>
            </td>
            <td>
                <div>23-May-2024</div>
            </td>
            <td>
                <div>19821.55</div>
            </td>
            <td>
                <div>15150.6</div>
            </td>
            <td>
                <div>4670.95</div>
            </td>
        </tr>
    </tbody>
</table>
<p><br></p>
<p>Stock Investment Report</p>
<h1>Investment Data</h1>
<table>
    <thead>
        <tr>
            <th>
                <div>Category</div>
            </th>
            <th>
                <div>Date</div>
            </th>
            <th>
                <div>Buy Value (in crores)</div>
            </th>
            <th>
                <div>Sell Value (in crores)</div>
            </th>
            <th>
                <div>Net Value (in crores)</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>DII **</div>
            </td>
            <td>
                <div>24-May-2024</div>
            </td>
            <td>
                <div>13475.7</div>
            </td>
            <td>
                <div>11155.38</div>
            </td>
            <td>
                <div>2320.32</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>FII/FPI *</div>
            </td>
            <td>
                <div>24-May-2024</div>
            </td>
            <td>
                <div>11564.19</div>
            </td>
            <td>
                <div>12509.02</div>
            </td>
            <td>
                <div>-944.83</div>
            </td>
        </tr>
    </tbody>
</table>
<p>Stock Investment Report</p>
<h1>Investment Data</h1>
<table>
    <thead>
        <tr>
            <th>
                <div>Category</div>
            </th>
            <th>
                <div>Date</div>
            </th>
            <th>
                <div>Buy Value (in crores)</div>
            </th>
            <th>
                <div>Sell Value (in crores)</div>
            </th>
            <th>
                <div>Net Value (in crores)</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>DII **</div>
            </td>
            <td>
                <div>27-May-2024</div>
            </td>
            <td>
                <div>12902.57</div>
            </td>
            <td>
                <div>11979.97</div>
            </td>
            <td>
                <div>922.6</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>FII/FPI *</div>
            </td>
            <td>
                <div>27-May-2024</div>
            </td>
            <td>
                <div>14013.38</div>
            </td>
            <td>
                <div>14554.6</div>
            </td>
            <td>
                <div>-541.22</div>
            </td>
        </tr>
    </tbody>
</table>
<p>Stock Investment Report</p>
<h1>Investment Data</h1>
<table>
    <thead>
        <tr>
            <th>
                <div>Category</div>
            </th>
            <th>
                <div>Date</div>
            </th>
            <th>
                <div>Buy Value (in crores)</div>
            </th>
            <th>
                <div>Sell Value (in crores)</div>
            </th>
            <th>
                <div>Net Value (in crores)</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div>DII **</div>
            </td>
            <td>
                <div>28-May-2024</div>
            </td>
            <td>
                <div>13169.66</div>
            </td>
            <td>
                <div>9937.99</div>
            </td>
            <td>
                <div>3231.67</div>
            </td>
        </tr>
        <tr>
            <td>
                <div>FII/FPI *</div>
            </td>
            <td>
                <div>28-May-2024</div>
            </td>
            <td>
                <div>14739.43</div>
            </td>
            <td>
                <div>14673.86</div>
            </td>
            <td>
                <div>65.57</div>
            </td>
        </tr>
    </tbody>
</table>