<!DOCTYPE html>
<html>

<head>
    <title>Stock Updates</title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h3>Coorporate Actions</h3>
    <table>
        <tr>
            <th>
                <div><span style="color: rgb(0, 0, 0)">Symbol</span></div>
            </th>
            <th>
                <div><span style="color: rgb(0, 0, 0)">faceVal</span></div>
            </th>
            <th>
                <div><span style="color: rgb(0, 0, 0)">subject</span></div>
            </th>
            <th>
                <div><span style="color: rgb(0, 0, 0)">exDate</span></div>
            </th>
            <th>
                <div><span style="color: rgb(0, 0, 0)">comp</span></div>
            </th>
        </tr>

        <tr>
            <td>
                <div><span>GHCL</span></div>
            </td>
            <td>10</td>
            <td>Dividend - Rs 12 Per Share</td>
            <td>01-Jul-2024</td>
            <td>GHCL Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>GHCLTEXTIL</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Re 0.50 Per Share</td>
            <td>01-Jul-2024</td>
            <td>GHCL Textiles Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>TATACOMM</span></div>
            </td>
            <td>10</td>
            <td>Annual General Meeting</td>
            <td>01-Jul-2024</td>
            <td>Tata Communications Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>TATACOMM</span></div>
            </td>
            <td>10</td>
            <td>Dividend - Rs 16.70 Per Share</td>
            <td>01-Jul-2024</td>
            <td>Tata Communications Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>83GS2040</span></div>
            </td>
            <td>100</td>
            <td>Interest Payment</td>
            <td>01-Jul-2024</td>
            <td>GOVERNMENT OF INDIA</td>
        </tr>

        <tr>
            <td>
                <div><span>GEOJITFSL</span></div>
            </td>
            <td>1</td>
            <td>Dividend - Rs 1.50 Per Share</td>
            <td>01-Jul-2024</td>
            <td>Geojit Financial Services Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>OCCL</span></div>
            </td>
            <td>10</td>
            <td>Demerger</td>
            <td>01-Jul-2024</td>
            <td>Oriental Carbon & Chemicals Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>OIL</span></div>
            </td>
            <td>10</td>
            <td>Bonus 1:2</td>
            <td>02-Jul-2024</td>
            <td>Oil India Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>KESORAMIND</span></div>
            </td>
            <td>10</td>
            <td>Annual General Meeting</td>
            <td>02-Jul-2024</td>
            <td>Kesoram Industries Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>BAJAJCON</span></div>
            </td>
            <td>1</td>
            <td>Buy Back</td>
            <td>02-Jul-2024</td>
            <td>Bajaj Consumer Care Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>ASAL</span></div>
            </td>
            <td>10</td>
            <td>Annual General Meeting</td>
            <td>02-Jul-2024</td>
            <td>Automotive Stampings and Assemblies Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>EPIGRAL</span></div>
            </td>
            <td>10</td>
            <td>Annual General Meeting/Dividend - Rs 5 Per Share</td>
            <td>02-Jul-2024</td>
            <td>Epigral Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>GPTINFRA</span></div>
            </td>
            <td>10</td>
            <td>Bonus 1:1</td>
            <td>03-Jul-2024</td>
            <td>GPT Infraprojects Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>JYOTHYLAB</span></div>
            </td>
            <td>1</td>
            <td>Annual General Meeting/Dividend - Rs 3.50 Per Share</td>
            <td>03-Jul-2024</td>
            <td>Jyothy Labs Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>DALMIASUG</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Rs 1.25 Per Share</td>
            <td>03-Jul-2024</td>
            <td>Dalmia Bharat Sugar and Industries Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>RSSOFTWARE</span></div>
            </td>
            <td>5</td>
            <td>Annual General Meeting</td>
            <td>03-Jul-2024</td>
            <td>R. S. Software (India) Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>VEDL</span></div>
            </td>
            <td>1</td>
            <td>Annual General Meeting</td>
            <td>04-Jul-2024</td>
            <td>Vedanta Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>LAURUSLABS</span></div>
            </td>
            <td>2</td>
            <td>Annual General Meeting</td>
            <td>04-Jul-2024</td>
            <td>Laurus Labs Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>ECLERX</span></div>
            </td>
            <td>10</td>
            <td>Buy Back</td>
            <td>04-Jul-2024</td>
            <td>eClerx Services Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>SOLARINDS</span></div>
            </td>
            <td>2</td>
            <td>Annual General Meeting/Dividend - Rs 8.50 Per Share</td>
            <td>04-Jul-2024</td>
            <td>Solar Industries India Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>BALAMINES</span></div>
            </td>
            <td>2</td>
            <td>Annual General Meeting/Dividend - Rs 11 Per Share</td>
            <td>04-Jul-2024</td>
            <td>Balaji Amines Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>SKFINDIA</span></div>
            </td>
            <td>10</td>
            <td>Annual General Meeting/Dividend - Rs 130 Per Share</td>
            <td>04-Jul-2024</td>
            <td>SKF India Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>JAIPURKURT</span></div>
            </td>
            <td>10</td>
            <td>Rights 100:224 @ Premium Rs 20/-</td>
            <td>04-Jul-2024</td>
            <td>Nandani Creation Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>TIDEWATER</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Rs 20 Per Share</td>
            <td>04-Jul-2024</td>
            <td>Tide Water Oil Company (India) Limited</td>
        </tr>

        <tr>
            <td>
                <div><span style="background-color: green;">TATAPOWER</span></div>
            </td>
            <td>1</td>
            <td>Dividend - Rs 2 Per Share</td>
            <td>04-Jul-2024</td>
            <td>Tata Power Company Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>WELENT</span></div>
            </td>
            <td>10</td>
            <td>Annual General Meeting/Dividend - Rs 3 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Welspun Enterprises Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>SUNDARMHLD</span></div>
            </td>
            <td>5</td>
            <td>Annual General Meeting/Dividend - Rs 2.05 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Sundaram Finance Holdings Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>ALLSEC</span></div>
            </td>
            <td>10</td>
            <td>Dividend - Rs 15 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Allsec Technologies Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>APOLLOTYRE</span></div>
            </td>
            <td>1</td>
            <td>Dividend - Rs 6 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Apollo Tyres Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>ARTEMISMED</span></div>
            </td>
            <td>1</td>
            <td>Dividend - Rs 0.45 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Artemis Medicare Services Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>ASTRAZEN</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Rs 24 Per Share</td>
            <td>05-Jul-2024</td>
            <td>AstraZeneca Pharma India Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>BALKRISIND</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Rs 4 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Balkrishna Industries Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>BHARATFORG</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Rs 6.50 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Bharat Forge Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>BIOCON</span></div>
            </td>
            <td>5</td>
            <td>Dividend - Re 0.50 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Biocon Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>INVENTURE</span></div>
            </td>
            <td>1</td>
            <td>Rights 1:4 @ Premium Rs 1.33/-</td>
            <td>05-Jul-2024</td>
            <td>Inventure Growth & Securities Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>THERMAX</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Rs 12 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Thermax Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>NAVINFLUOR</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Rs 7 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Navin Fluorine International Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>NUCLEUS</span></div>
            </td>
            <td>10</td>
            <td>Dividend - Rs 12.5 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Nucleus Software Exports Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>PEL</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Rs 10 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Piramal Enterprises Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>REDINGTON</span></div>
            </td>
            <td>2</td>
            <td>Dividend - Rs 6.20 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Redington Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>ESCORTS</span></div>
            </td>
            <td>10</td>
            <td>Annual General Meeting/Dividend - Rs 18 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Escorts Kubota Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>SAH</span></div>
            </td>
            <td>10</td>
            <td>Annual General Meeting</td>
            <td>05-Jul-2024</td>
            <td>Sah Polymers Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>M&M</span></div>
            </td>
            <td>5</td>
            <td>Annual General Meeting/Dividend - Rs 21.10 Per Share</td>
            <td>05-Jul-2024</td>
            <td>Mahindra & Mahindra Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>DJML</span></div>
            </td>
            <td>10</td>
            <td>Annual General Meeting/Dividend - Re 0.20 Per Share</td>
            <td>05-Jul-2024</td>
            <td>DJ Mediaprint & Logistics Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>VERTOZ</span></div>
            </td>
            <td>1</td>
            <td>Bonus 1:1</td>
            <td>05-Jul-2024</td>
            <td>Vertoz Advertising Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>VERTOZ</span></div>
            </td>
            <td>1</td>
            <td>Face Value Split (Sub-Division) - From Rs 10/- Per Share To Re 1/- Per Share</td>
            <td>05-Jul-2024</td>
            <td>Vertoz Advertising Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>REMSONSIND</span></div>
            </td>
            <td>2</td>
            <td>Face Value Split (Sub-Division) - From Rs 10/- Per Share To Rs 2/- Per Share</td>
            <td>05-Jul-2024</td>
            <td>Remsons Industries Limited</td>
        </tr>

        <tr>
            <td>
                <div><span>3MINDIA</span></div>
            </td>
            <td>10</td>
            <td>Special Dividend - Rs 525 Per Share/ Dividend - Rs 160 Per Share</td>
            <td>05-Jul-2024</td>
            <td>3M India Limited</td>
        </tr>

    </table>
</body>

</html>